.sf/
.sfdx/
.localdevserver/
deploy-options.json
**/lwc/jsconfig.json
coverage/
logs
*.log
node_modules/
SYNC.md
PUBLISH.md
.pmdCache
.eslintcache
.DS_Store
Thumbs.db
.env
**/__pycache__/
**/.venv/
**/venv/
/docs/PACKAGING.md
